<h1>
	your score is <%= @score %>
</h1>

<h2>
	<%= @message %>
	<%= time() %>
</h2>

<h2>
    <%= for n <- 1..10 do %>
      <a href="#" phx-click="guess" phx-value-number="<%= n %>"><%= n %></a>
    <% end %>
</h2>
